@import '../../styles/mixins/button.less';
@import '../../styles/mixins/shadow.less';
@import '../../styles/mixins/radius.less';
@import '../../styles/index.less';

@margin: 6vw;
@charaters-between: 10vw;
@button-width: (100vw - @charaters-between - 2 * @margin) / 4;
@button-height: 20vh;
@button-margin: (25vw - @button-width) / 5;

@badge-height: 10vh;

.werewolf {
  &-root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;

    & > view {
      flex: 1 1 auto;
    }
  }

  &-header {
    .flex-center();
    width: 100vw - @margin * 2;
  }

  &-total {
    .flex-center();
    width: 664px;
    height: 113px;
    background: #ffffff;
    box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.05);
    border-radius: 25px;
    font-size: 30px;

    &-cnt {
      margin-left: 30px;

      font-size: 35px;
    }
  }

  &-charaters {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 0 26px 0 26px;

    &-button {
      .radius.normal();
      // .shadow.card-1();
      display: block;
      flex: 1 1 auto;
      padding: 0;
      width: 155px;
      height: 211px;
      background: #ffffff;
      border-radius: 25px;
      margin: 0 7px 0 7px;

      &:after {
        border: none;
      }
    }

    &-img {
      display: block;
      width: 155px;
      height: 211px;
      background: #ffffff;
      border-radius: 25px;
      overflow: hidden;
    }

    &-cnt {
      .flex-center();
      margin: 9px 0 9px 0;
    }
  }

  &-modal-header {
    .flex-center();
    height: @badge-height / 2;

    &-badge {
      .radius.round();
      .shadow.card-3();
      position: relative;
      bottom: @badge-height / 4;
      height: @badge-height;
      width: @badge-height;
    }
  }

  &-modal-content {
    display: flex;
    flex-direction: row;
    margin: 10px;

    & > text {
      .flex-center();

      flex: 1 0 auto;
      background-color: whitesmoke;
    }

    & > button {
      flex: 0 1 auto;
      margin: 0 20px 0 20px;
    }

    &-dec {
      .button-normal();
    }

    &-inc {
      .button-confirm();
    }
  }

  &-padding {
    flex: 1 1 auto;
  }

  &-footer {
    & > button {
      .button-confirm();
      .flex-center();
      font-size: 36px;
      width: 664px;
      height: 113px;
      background: #000000;
      border-radius: 25px;
    }
  }
}
