@import '../../styles/index.less';

@image-width: 238px;
@image-height: 328px;
@image-scale: 1.5;

.werewolf {
  &-root {
    .flex-center();
    height: 100vh;
    width: 100vw;

    flex-direction: column;
  }

  &-img {
    width: @image-width * @image-scale;
    height: @image-height * @image-scale;
  }
}
