@import '../../styles/index.less';
@import '../../styles/mixins/header-card.less';
@import '../../styles/mixins/button.less';

@width: 90vw;
@card-width: 20vw;
@card-margin: (@width - (@card-width * 4)) / 5;

.room {
  display: flex;
  align-items: center;
  flex-direction: column;
  &-number {
    .flex-center();
    .header-card();
    font-size: 20px;

    &-span {
      font-size: 35px;
      margin-right: 11px;
    }
  }

  &-action {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 666px;
    padding: 0 42px 0 42px;
    height: 131px;

    &-container {
      .flex-center();
    }

    &-img {
      width: 131px;
      height: 131px;
      margin-right: 21px;
    }

    &-id {
      &-title {
        font-size: 18px;
        margin-bottom: 14px;
      }

      &-card {
        .flex-center();
        width: 131px;
        height: 59px;
        line-height: 59px;
        background: #ffffff;
        border-radius: 25px;
      }
    }

    &-btn {
      .button-confirm();
      width: 241px;
      height: 78px;
      line-height: 78px;
      background: #000000;
      border-radius: 25px;
      margin: 0;
    }
  }

  &-charaters {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: @width;
    min-height: 70vh;

    &-card {
      .flex-center();
      flex: 0 0 auto;
      width: @card-width;
      margin: 0 @card-margin 0 @card-margin;
    }
  }
}
