@import '../../styles/index.less';
@import '../../styles/mixins/radius.less';

.game {
  &-root {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  &-btn {
    flex: 1 0 auto;
    width: 80vw;
    background-color: #f1f1f1;
    margin: 2vh 0 2vh 0;

    &:after {
      border: none;
    }
  }

  &-modal {
    &-input {
      .flex-center();
      .radius.round();
      text-align: center;
      margin: 4vw;
      padding: 1.5vh;
      background-color: #f5f5f5;

      &-placeholder {
        color: #808080;
        font-size: small;
      }
    }
  }
}
